# 자동차 연비 분석, 회귀분석 모델 + 산점도 이용해 보기
### 자동차 연비 가져오기
### 공식사이트 : https://archive.ics.uci.edu/
### 검색어 :  auto MPG

In [1]:
# auto-mpg.csv

import numpy as np
import pandas as pd

data_df = pd.read_csv("./auto-mpg.csv", header = 0, engine = "python")
print(f"data_df의 크기 : {data_df.shape}")
data_df.head()

data_df의 크기 : (398, 9)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,orgin,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [ ]:
# 특정 컬럼 제외하기 -> horsepower, orgin, car_name
data_df = data_df.drop(["horsepower", "orgin", "car_name"])

In [ ]:
# 기본 컬럼 조사 info()
data_df.info()

In [ ]:
# 선형회귀 모델을 활용해서